.categoryCardContainer {
  display: flex;
  flex-wrap: wrap;
}

.categoryCard.ui.card {
  height: 100%;
  margin: auto;
  margin-bottom: 5%;
  padding-bottom: 1%;
}

.adminCardsP {
  display: block;
  width: 50%;
  text-decoration: none;
  margin-left: -1%;
  color: #f0f0f0;
  background: #28b485;
  border: 0.3px solid;
  text-transform: uppercase;
  cursor: pointer;
  padding: 13px 15px 13px 20px;
  font-size: 12px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  &:hover {
    color: #28b485;
    background: none;
  }
}

.ui.two.buttons.adminActions {
  margin-top: 15%;
}

.adminCardTitle {
  text-transform: uppercase;
}
.adminCardDescription {
  text-transform: lowercase;
}

.adminCardDescription::first-letter {
  text-transform: uppercase;
}

@media (min-width: 580px) {
  .categoryCard.ui.card {
    width: 60%;
  }
  .adminCardsP {
    width: 30%;
  }
}

@media (min-width: 600px) {
  .categoryCard.ui.card {
    width: 45%;
  }
  .adminCardsP {
    width: 25%;
  }
}

@media (min-width: 800px) {
  .categoryCard.ui.card {
    width: 30%;
    height: 85%;
  }
  .adminCardsP {
    width: 15%;
  }
}
