.mainContainer {
  height: 100%;
}
.pageContent {
  margin-top: 64px;
}

@media (min-width: 600px) {
  .pageContent {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 64px;
  }
}
